<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">     <!-- accesing to bootstrap-->
    <title>Document</title>
</head>
<body class="bg-warning">
    <h1>Model: <%= name %></h1>
    <h1>Fiyat: <%= price %></h1>
    <img src="/images/<%= imgUrl %>" alt="" width="200px">
</body>
</html>